.SectionThreeHome {
    background-color: #F3EAEA;
    height: 870px;
}

.FeatureListingCardAll {
    display:flex;
    justify-content: center;
}

.FeatureListings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SecThreeHeading {
    margin-top: 70px;
    font-family: Roboto;
    font-size: 30px;
    padding-bottom: 60px;
}
.starStack {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 410px;
}
.FeatureListingCardOne {
    display: flex;
    justify-content: center;
    align-items: center;
}
.FeatureListingCards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featureListingInfo {
    width: 362px;
    padding-top: 15px;
    background-color: black;
    margin-top: -1px;
    padding-left: 20px;
    color: #F0F7FF;
}

.featureListingPrice {
    padding-right: 40px;
    font-size: 15px;
    font-family: Roboto;
}

.ListingFacAmount {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ListingCaption {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.featureListingAddress {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    height: 70px;
    inline-size: 280px;
}

.featureListingInfoAddress {
    display: flex;
    width: 362px;
    padding-top: 15px;
    background-color: black;
    padding-left: 20px;
    color: #F0F7FF;
    border-radius: 0px 0px 7px 7px;
    align-items: center;
}

.AllListingsButton {
    display: flex;
    justify-content: center;
    padding: 63px;
}

.btnAllListings {
    background-color: #A83F41;
    width: 194px;
    height: 61px;
    border-radius: 10px;
    border: none;
}

.btnAllListings:hover {
    background-color: #EE585A;
    cursor: pointer;
    box-shadow: 0px 3px 7px 1px grey;
}

.btnLink {
    color: #F0F7FF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    text-decoration: none;
}