.SectionThreeHome {
    background-color: #F3EAEA;
    height: 829px;
}

.FeatureListings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SecThreeHeading {
    margin-top: 65px;
    font-family: Roboto;
    font-size: 30px;
}

.FavouriteStar {
    margin-top: -410px;
    margin-left: 300px;
    position: absolute;
}

.FeatureListingCards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.featureListingInfo {
    width: 360px;
    padding-top: 15px;
    background-color: black;
    margin-top: -1px;
    padding-left: 20px;
    color: #F0F7FF;
}

.featureImageListing {
    width: 25%;
}

.featureListingPrice {
    padding-right: 40px;
    font-size: 15px;
    font-family: Roboto;
}

.ListingFacAmount {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ListingCaption {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.featureListingAddress {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    padding-bottom: 30px;
}

.featureListingInfoAddress {
    display: flex;
    width: 360px;
    padding-top: 15px;
    background-color: black;
    padding-left: 20px;
    color: #F0F7FF;
    border-radius: 0px 0px 7px 7px;
    align-items: center;
}